In [1]:
# import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# read csv /content/DummyData.csv
df = pd.read_csv("DummyDataWholeData.csv")
df.head(5)

,Sr. No.,Name of Society,Address,State,District,Date of Registration,Area of Operation,Sector Type
0,1,saharayn universal multipurose society limited,"At & P.O. Railway Colony, Gorakkhpur, District...",UTTAR PRADESH,KUSHI NAGAR,22-07-2022,"Haryana, UttarPradesh, Himachal, Punjab",Credit
1,2,JMJ Multi State Agro Cooperative Society Ltd.,"TC 48/1442-1, Sreeniva, Parekkati House, Chath...",KERALA,THRISSUR,13-10-2022,"Bihar, West bengal, Odisha",Agro
2,3,Devbhoomi Agro Multi State Cooperative Society...,"S/o Sateesh Kumar, Tejupur, Haridwar, Uttarakh...",UTTARAKHAND,HARIDWAR,04-10-2022,"Tamil Nadu, karnataks",Agro
3,4,Aarya Multi Specialty Cooperative Hospital and...,"Gate No 165, Nimgaon (T), Madha, Solapur, 4132...",MAHARASHTRA,AHMEDNAGAR,04-10-2022,"Haryana, Punajb",Health/Hospital
4,5,Agriculture Development Cooperative Federation,"A/P 344, Lower Ground Floor, Sector 86, Preet ...",PUNJAB,MOHALI,22-09-2022,"Manipur, Meghalaya",Federation

In [9]:
df.State.value_counts()

MAHARASHTRA          28
UTTAR PRADESH        19
KERALA                9
TAMIL NADU            8
TELANGANA             6
NEW DELHI             5
GUJARAT               4
HARYANA               4
BIHAR                 3
MADHYA PRADESH        3
MANIPUR               3
ANDHRA PRADESH        2
JAMMU AND KASHMIR     1
PUNJAB                1
ASSAM                 1
UTTARAKHAND           1
KARNATAKA             1
WEST BENGAL           1
Name: State, dtype: int64

In [10]:
# To print no. of samples and attributes
print(df.shape)

(100, 8)

In [11]:
# getting the columns of the dataset
columns = list(df.columns)
print(columns)

['Sr. No.', 'Name of Society', 'Address', 'State', 'District', 'Date of Registration', 'Area of Operation', 'Sector Type']

In [12]:
print(df.isnull().sum())

Sr. No.                 0
Name of Society         0
Address                 0
State                   0
District                0
Date of Registration    0
Area of Operation       0
Sector Type             0
dtype: int64

In [15]:
df['Sector Type'].value_counts()

Agro                  52
Cooperative Bank      10
Health/Hospital        9
Credit                 6
Housing                6
Fisheries              5
Others                 3
Federation             2
Industrial/Textile     2
Marketing              2
Tourism                1
Construction           1
Dairy                  1
Name: Sector Type, dtype: int64

In [13]:
df.District.value_counts()

AHMEDNAGAR            6
NEW DELHI             5
LUCKNOW               5
COIMBATORE            4
BEED                  4
ADILABAD              3
BISHNUPUR             3
KOLHAPUR              3
THRISSUR              3
ERNAKULAM             2
BHOPAL                2
NAGPUR                2
BULANDSHAHR           2
PATNA                 2
SANGLI                2
CHENNAI               2
JHANSI                2
KUSHI NAGAR           2
BAREILLY              2
NASIK                 2
THANE                 2
HYDERABAD             2
CHIRANG               1
MUMBAI                1
MALDAH                1
SOLAPUR               1
GURGAON               1
THIRUVALLUR           1
LALITPUR              1
JALGAON               1
KARIMNAGAR            1
WEST GODAVARI         1
SURAT                 1
KANNUR                1
PANIPAT               1
DHARMAPURI            1
SHIMOGA               1
BHIND                 1
SONIPAT               1
MUZAFFARNAGAR         1
BASTI                 1
HARIDWAR              1
MOHALI                1
PUNE                  1
IDUKKI                1
THIRUVANANTHAPURAM    1
FARIDABAD             1
VISAKHAPATANAM        1
KOZHIKODE             1
BULDHANA              1
BANDA                 1
OSMANABAD             1
BADGAM                1
BHANDARA              1
AHMADABAD             1
MORADABAD             1
VALSAD                1
BATOD                 1
DEORIA                1
BUXAR                 1
Name: District, dtype: int64